.swiper-slide {
    display:flex;
    align-items: center;
    justify-content:center;
    
}

@media (max-width:767px) {
    .swiper-button-next, .swiper-button-prev{
        display:none !important
    }
}